$border-color: #DDD;
$color-error: #ef6644;
$color-warning: #efaa33;
$color-info: #4488ab;

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "components/notifications";

body{
  font-family: sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container{
  max-width: 90rem;
  margin: auto;
}
.main{
  width: 65%;
  margin: auto;
  padding: 0 1rem;
}

form{
  box-sizing: border-box;
  input[type="text"],
  textarea{
    padding: 8px 12px;
    width: 100%;
  }
  .form-group{
    margin-bottom: 10px;
  }
  button{
    border: 1px solid;
    padding: 8px 12px;
    background-color: #4caf50;
    border-radius: 5px;
  }
  button:disabled{
    background-color: #DDD;
  }
}

.notifier{
  border: 1px solid #000;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #0667bb;
  color: #FFF;
  text-align: center;
  h1{
    margin-top: 0;
    text-align: center;
  }
  .option-group{
    display: flex;
    margin-bottom: 1rem;
    label{
      flex-grow: 1;
    }
    .fa{
      margin-left: 5px;
    }
  }
  .help-block{
    text-align: left;
    color: $color-error;
  }
}
