<div class="main">
  <div class="notifier">
    <h1>Notifier</h1>
    <form name="form.notifierForm" ng-submit="submit()" novalidate>
      <div class="option-group">
        <label for="info">
          <input type="radio" ng-model="model.type" id="info" value="info">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Info
        </label>
        <label for="warning">
          <input type="radio" ng-model="model.type" id="warning" value="warning">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Warning
        </label>
        <label for="error">
          <input type="radio" ng-model="model.type" id="error" value="error">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Error
        </label>
      </div>
      <div class="form-group">
        <input type="text" ng-model="model.title" name="title" placeholder="Title" required>
        <p ng-show="form.notifierForm.title.$invalid && !form.notifierForm.title.$pristine" class="help-block">Title is required</p>
      </div>
      <div class="form-group">
        <textarea rows="5" name="content" ng-model="model.content" placeholder="Content" required=""></textarea>
        <p ng-show="form.notifierForm.content.$invalid && !form.notifierForm.content.$pristine" class="help-block">Content is required</p>
      </div>
      <button type="submit" ng-disabled="form.notifierForm.$invalid">Send Notification</button>
    </form>
  </div>
</div>

<notifications></notifications>
